<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Recommendations{% endblock %}</title>
</head>
<body>
    <h2>{% block heading %}Recommendations{% endblock %}</h2>
    
    <ul>
        {% for recommendation in recommendations %}
            <li>{{ recommendation.user.name }} recommends {{ recommendation.product.shape }} - {{ recommendation.product.size }} - {{ recommendation.product.location }}</li>
        {% endfor %}
    </ul>
</body>
</html>
